In [3]:
import pandas as pd
import os
import mysql.connector as db

In [4]:
path = 'C:/Users/User/Desktop/MDT 28/Assignments/red_bus/csv'
all_data = pd.DataFrame()
for file in os.listdir(path):
    df = pd.read_csv(os.path.join(path, file))
    all_data = pd.concat([all_data, df], ignore_index=True)

all_data

C:\Users\User\AppData\Local\Temp\ipykernel_2260\1581953110.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_data = pd.concat([all_data, df], ignore_index=True)

,Bus_name,Bus Type,Departure Time,Arrival Time,Duration,Fare,Rating,Seat_Availability,Bus Link,Bus Route
0,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),22:15,03:45,05h 30m,550.0,3.7,17.0,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
1,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),21:30,03:30,06h 00m,400.0,2.9,6.0,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
2,Himalayan Travels,NON A/C Seater (2+2),23:40,04:00,04h 20m,450.0,1.8,35.0,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati
3,Yatra Travels,NON A/C Seater (2+1),18:00,23:30,05h 30m,400.0,3.3,NaN,https://www.redbus.in/bus-tickets/guwahati-to-...,Guwahati to Tezpur
4,Yatra Travels,NON AC Seater/ Sleeper (2+1),20:00,00:00,04h 00m,400.0,4.2,6.0,https://www.redbus.in/bus-tickets/guwahati-to-...,Guwahati to Tezpur
...,...,...,...,...,...,...,...,...,...,...
5285,Greenline (Karunamoyee),Volvo A/C Seater (2+2),17:20,21:45,04h 25m,524.0,4.4,NaN,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
5286,SHYAMOLI Pvt. Ltd.(Karunamoyee),Volvo A/C Seater (2+2),17:30,22:30,05h 00m,524.0,4.3,NaN,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
5287,Greenline,Volvo A/C Seater (2+2),18:05,23:05,05h 00m,524.0,4.1,NaN,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
5288,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),18:40,23:25,04h 45m,524.0,4.4,NaN,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
5289,Beauty Travels,NON A/C Seater / Sleeper (2+2),20:20,00:30,04h 10m,380.0,3.0,36.0,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)

In [5]:
all_data.isnull().sum()

Bus_name              16
Bus Type              22
Departure Time        16
Arrival Time          16
Duration              16
Fare                  19
Rating               135
Seat_Availability    715
Bus Link               0
Bus Route              0
dtype: int64

remove null values from all columns except Seat Availability

In [6]:
columns_to_check = all_data.columns.difference(['Seat_Availability'])
all_data.dropna(subset=columns_to_check, inplace=True, ignore_index=True)

In [7]:
all_data['Seat_Availability'] = all_data['Seat_Availability'].fillna(0)

In [8]:
all_data.isnull().sum()

Bus_name             0
Bus Type             0
Departure Time       0
Arrival Time         0
Duration             0
Fare                 0
Rating               0
Seat_Availability    0
Bus Link             0
Bus Route            0
dtype: int64

In [9]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5149 entries, 0 to 5148
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_name           5149 non-null   object
 1   Bus Type           5149 non-null   object
 2   Departure Time     5149 non-null   object
 3   Arrival Time       5149 non-null   object
 4   Duration           5149 non-null   object
 5   Fare               5149 non-null   float64
 6   Rating             5149 non-null   float64
 7   Seat_Availability  5149 non-null   float64
 8   Bus Link           5149 non-null   object
 9   Bus Route          5149 non-null   object
dtypes: float64(3), object(7)
memory usage: 402.4+ KB

In [10]:
all_data['Departure Time'] = pd.to_datetime(all_data['Departure Time'],format='%H:%M').dt.time
all_data['Arrival Time'] = pd.to_datetime(all_data['Arrival Time'],format='%H:%M').dt.time

In [11]:
all_data['Departure Time'].dtype

dtype('O')

In [12]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5149 entries, 0 to 5148
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_name           5149 non-null   object
 1   Bus Type           5149 non-null   object
 2   Departure Time     5149 non-null   object
 3   Arrival Time       5149 non-null   object
 4   Duration           5149 non-null   object
 5   Fare               5149 non-null   float64
 6   Rating             5149 non-null   float64
 7   Seat_Availability  5149 non-null   float64
 8   Bus Link           5149 non-null   object
 9   Bus Route          5149 non-null   object
dtypes: float64(3), object(7)
memory usage: 402.4+ KB

In [13]:
all_data[['from', 'destination']] = all_data['Bus Route'].str.split(' to ', expand=True)

In [14]:
all_data.head()

,Bus_name,Bus Type,Departure Time,Arrival Time,Duration,Fare,Rating,Seat_Availability,Bus Link,Bus Route,from,destination
0,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),22:15:00,03:45:00,05h 30m,550.0,3.7,17.0,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati,Tezpur,Guwahati
1,BLUE HILL TRAVELS INDIA LIMITED,NON A/C Seater Semi Sleeper (2+1),21:30:00,03:30:00,06h 00m,400.0,2.9,6.0,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati,Tezpur,Guwahati
2,Himalayan Travels,NON A/C Seater (2+2),23:40:00,04:00:00,04h 20m,450.0,1.8,35.0,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Tezpur to Guwahati,Tezpur,Guwahati
3,Yatra Travels,NON A/C Seater (2+1),18:00:00,23:30:00,05h 30m,400.0,3.3,0.0,https://www.redbus.in/bus-tickets/guwahati-to-...,Guwahati to Tezpur,Guwahati,Tezpur
4,Yatra Travels,NON AC Seater/ Sleeper (2+1),20:00:00,00:00:00,04h 00m,400.0,4.2,6.0,https://www.redbus.in/bus-tickets/guwahati-to-...,Guwahati to Tezpur,Guwahati,Tezpur

In [15]:
all_data['from'].unique()

array(['Tezpur', 'Guwahati', 'Jorhat', 'Haflong', 'North Lakhimpur',
       'Dibrugarh', 'Biswanath Charali', 'Tinsukia', 'Moran', 'Gohpur',
       'Silchar', 'Bokakhat', 'Patna (Bihar)', 'Gopalganj (Bihar)',
       'Delhi', 'Bettiah', 'Motihari', 'Balmiki Nagar (bihar)', 'Ranchi',
       'Hazaribagh', 'Muzaffarpur (Bihar)', 'Lucknow', 'Agra', 'Purnea',
       'Darbhanga', 'Shimla', 'Manali', 'Chandigarh',
       'Hamirpur (Himachal Pradesh)', 'Dharamshala (Himachal Pradesh)',
       'Chamba (Himachal Pradesh)', 'Dalhousie', 'Solan', 'Palampur',
       'Kangra', 'Kullu', 'Baddi (Himachal Pradesh)', 'Ghumarwin', 'Pune',
       'Goa', 'Mumbai', 'Pandharpur', 'Bangalore', 'Belagavi', 'Solapur',
       'Sangola (Solapur)', 'Calangute (goa)', 'Mopa Airport',
       'Shivamogga', 'Shirdi', 'Kozhikode', 'Ernakulam', 'Mysore',
       'Kalpetta (kerala)', 'Thiruvananthapuram', 'Kannur', 'Kottayam',
       'Thrissur', 'Coimbatore', 'Patiala', 'Ludhiana', 'Phagwara',
       'Jalandhar', 'Delhi Airport', 'Amritsar', 'Vijayawada',
       'Hyderabad', 'Kakinada', 'Visakhapatnam',
       'Chittoor (Andhra Pradesh)', 'Kadapa',
       'Anantapur (andhra pradesh)', 'Tirupati', 'Ongole',
       'Macherla (andhra pradesh)', 'Rajahmundry', 'Nandyal',
       'Guntur (Andhra Pradesh)', 'Kurnool', 'Rayachoti', 'Vinukonda',
       'Amalapuram', 'Madanapalli', 'Narasaraopet', 'Eluru', 'Kadiri',
       'Chennai', 'Nellore', 'Jodhpur', 'Beawar (Rajasthan)', 'Udaipur',
       'Jaipur (Rajasthan)', 'Sikar', 'Kishangarh',
       'Aligarh (uttar pradesh)', 'Kota(Rajasthan)', 'Pali (Rajasthan)',
       'Bikaner', 'Durgapur (West Bengal)', 'Digha', 'Kolkata',
       'Asansol (West Bengal)', 'Siliguri'], dtype=object)

In [16]:
all_data['destination'].unique()

array(['Guwahati', 'Tezpur', 'Nagaon (Assam)', 'North Lakhimpur',
       'Dibrugarh', 'Biswanath Charali', 'Haflong', 'Moran', 'Jorhat',
       'Silchar', 'Tinsukia', 'Bokakhat', 'Bettiah', 'Delhi', 'Motihari',
       'Patna (Bihar)', 'Katihar', 'Purnea', 'Hazaribagh', 'Raxaul',
       'Ranchi', 'Muzaffarpur (Bihar)', 'Lucknow', 'Janakpur (Nepal)',
       'Araria (Bihar)', 'Saharsa', 'Agra', 'Forbesganj',
       'Hajipur (Bihar)', 'Gopalganj (Bihar)', 'Shimla', 'Chandigarh',
       'Manali', 'Hamirpur (Himachal Pradesh)',
       'Dharamshala (Himachal Pradesh)', 'Baddi (Himachal Pradesh)',
       'Dalhousie', 'Chamba (Himachal Pradesh)', 'Palampur', 'Solan',
       'Reckong Peo (Himachal Pradesh)', 'Kullu', 'Kangra', 'Nalagarh',
       'Sarkaghat', 'Goa', 'Pune', 'Mumbai', 'Pandharpur', 'Bangalore',
       'Kolhapur(Maharashtra)', 'Solapur', 'Sangola (Solapur)',
       'Goa Airport', 'Sangli', 'Calangute (goa)', 'Miraj', 'Satara',
       'Shivamogga', 'Shirdi', 'Margao', 'Kozhikode', 'Ernakulam',
       'Mysore', 'Thiruvananthapuram', 'Kalpetta (kerala)', 'Thrissur',
       'Kannur', 'Kottayam', 'Ooty', 'Patiala', 'Ludhiana', 'Jalandhar',
       'Delhi Airport', 'Phagwara', 'Amritsar', 'Bathinda', 'Hyderabad',
       'Vijayawada', 'Visakhapatnam', 'Kakinada', 'Tirupati', 'Kadapa',
       'Ongole', 'Kurnool', 'Chittoor (Andhra Pradesh)', 'Rajahmundry',
       'Anantapur (andhra pradesh)', 'Amalapuram', 'Madanapalli',
       'Narasaraopet', 'Guntur (Andhra Pradesh)', 'Kadiri', 'Rayachoti',
       'Chennai', 'Ajmer', 'Jaipur (Rajasthan)', 'Jodhpur',
       'Beawar (Rajasthan)', 'Aligarh (uttar pradesh)', 'Kota(Rajasthan)',
       'Udaipur', 'Pali (Rajasthan)', 'Bikaner', 'Bharatpur', 'Bhilwara',
       'Pilani', 'Mathura', 'Sikar', 'Kolkata', 'Barasat (West Bengal)',
       'Digha', 'Suri', 'Durgapur (West Bengal)', 'Siliguri',
       'Asansol (West Bengal)'], dtype=object)

In [17]:
all_data.to_csv('test.csv')

In [18]:
db_connection = db.connect(
    host = "localhost",
    user = "root",
    password = "root"
)

db_connection

In [19]:
mycursor = db_connection.cursor(buffered=True)

In [20]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS redbus_data")

In [ ]:
mydb = db.connect(
    host="localhost",
    user="root",
    password="root",
    database="redbus_data"
)

mycursor = mydb.cursor(buffered=True)

NameError: name 'db' is not defined

In [ ]:
# Create the table if it doesn't exist
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS redbus_info_3 (
        route_id INT AUTO_INCREMENT PRIMARY KEY,
        route_name Text,
        route_link Text,
        bus_name VARCHAR(100),
        bus_type Text,
        departing_time Text,
        duration VARCHAR(50),
        reaching_time Text,
        star_rating FLOAT,
        price DECIMAL(10, 2),
        seats_available FLOAT,
        depature VARCHAR(50),
        destination VARCHAR(50)
    )
''')

mydb.commit()

In [ ]:
for index, row in all_data.iterrows():
    sql = '''
        INSERT INTO redbus_info_3 (bus_name, bus_type,
                                  departing_time, reaching_time, duration,  
                                  price, star_rating, seats_available, route_name, route_link, depature, destination)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    try:
        mycursor.execute(sql, tuple(row))
    except db.Error as e:
        print(f"Error inserting row {index}: {e}")

mydb.commit()
mydb.close()